{% if firms %}
{% load thumbnail %}
<div class="row">
    <div style="width: 100%; display: flex; justify-content: center;">
        <div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
            <ul class="product-tab-nav justify-content-center align-items-center"
                style="display: flex; flex-wrap: wrap;">
                {% for firm in firms %}
                <li class="nav-item mb-30px" >
                    <a href="{{ firm.get_absolute_url }}#products" class="nav-link">
                        <img src="{{ firm.image|thumbnail_url:'card' }}" alt="{{ firm.name }}">
                        {{ firm.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}