{% load static %}
<footer class="footer-area" itemscope itemtype="https://schema.org/Organization">
  <meta itemprop="name" content="Electrorazbor.ru">
  <meta itemprop="url" content="{{ request.scheme }}://{{ request.get_host }}">
  
  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          {# Колонка 1: Логотип #}
          <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
            <div class="single-wedge">
              <div class="footer-logo">
                <a href="{% url 'coreapp:home' %}" aria-label="На главную">
                  <img src="{% static 'electrorazbor.png' %}" alt="Electrorazbor.ru" width="100" height="auto" loading="lazy">
                </a>
              </div>
              <p class="about-text">Ваш надежный помощник в ремонте электросамоката с 2017 года.</p>
              <ul class="link-follow" aria-label="Социальные сети">
                {% for contact in contacts %}
                  {% if contact.show_in_bottom %}
                    <li>
                      <a href="{{ contact.link }}" aria-label="{{ contact.title }}" rel="nofollow noopener" target="_blank">
                        <i class="fa {{ contact.code }}"></i>
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          
          {# Колонка 2: Информация #}
          <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
            <div class="single-wedge">
              <h4 class="footer-herading">Информация</h4>
              <div class="footer-links">
                <ul>
                  <li><a class="single-link" href="{% url 'coreapp:delivery' %}">Доставка</a></li>
                  <li><a class="single-link" href="{% url 'coreapp:uslovija_vozvrata' %}">Условия возврата</a></li>
                  <li><a class="single-link" href="{% url 'coreapp:soglasie' %}">Персональные данные</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          {# Колонка 3: Меню #}
          <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
            <div class="single-wedge">
              <h4 class="footer-herading">Меню</h4>
              <div class="footer-links">
                <ul>
                  <li><a class="single-link" href="{% url 'coreapp:home' %}">Главная</a></li>
                  <li><a class="single-link" href="{% url 'coreapp:contacts' %}">Контакты</a></li>
                  <li><a class="single-link" href="{% url 'coreapp:home' %}#partners">Партнерам</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          {# Колонка 4: Контакты #}
          <div class="col-md-6 col-lg-3 col-sm-12">
            <div class="single-wedge">
              <h4 class="footer-herading">Контакты</h4>
              <div class="footer-links" itemscope itemtype="https://schema.org/ContactPoint">
                {% for contact in contacts %}
                  <p>
                    <span itemprop="contactType">{{ contact.title }}:</span>
                    <a href="{{ contact.link }}" itemprop="telephone">{{ contact.text }}</a>
                  </p>
                {% endfor %}
                <p>Романов Дмитрий Юрьевич</p>
                <p>ИНН: 570401185967</p>
                <p>
                  <small>&copy; {% now "Y" %} Electrorazbor.ru</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>