<div class="header-top">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <div class="welcome-text">
                    <p>Проблемы с электросамокатом - мы поможем.</p>
                </div>
            </div>
            <div class="col d-none d-lg-block">
                <div class="top-nav">
                    <ul>
                        <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +7 900-000-00-00</a></li>
                        <li><a href="mailto:demo@example.com"><i class="fa fa-telegram"></i> Telegram</a></li>
                        <li><a href="my-account.html"><i class="fa fa-whatsapp"></i> whatsapp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>