{% load static %}
<div id="myModal" class="modal">
    <!-- Модальное содержание -->
    <div class="modal-content">
        <div class="modal-headerm">
            <span class="closebtn">&times;</span>
            <h4>Форма обратной связи</h4>
        </div>
        <div class="modal-body">
            <p>Оставьте номер своего телефона и мы вам перезвоним</p>
            <form class="newsletter__popup--subscribe__form">
                {% csrf_token %}
                <input class="newsletter__popup--subscribe__input" name="phone" type="text"
                    placeholder="+7-900-000-00-00">
                <input type="hidden" name="product" value="{{ product.name }}">
                <button class="sendbtn" type="submit">Отправить</button>
            </form>
        </div>
        <div class="modal-footerm">
            <h4>Или свяжитесь с нами</h4>
            {% for contact in contacts %}
            <a href="{{ contact.link }}" style="color: black; padding-top: 20px;"><i class="fa {{ contact.code }}" style="color: #0d6efd; font-size: 24px; padding-right: 10px;"></i>{{ contact.text }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/popup.css' %}">
<script src="{% static 'js/popup.js' %}"></script>
<script>
    $(document).ready(function () {
        document.querySelector(".newsletter__popup--subscribe__form").addEventListener('submit', function (event) {
            event.preventDefault();
        })
        $(".sendbtn").click(function () {
            if ($(".sendbtn").text() == "Отправить") {
                if ($(".newsletter__popup--subscribe__input").val()) {
                    $.ajax({
                        url: '{% url "coreapp:productrequest" %}',
                        type: 'post',
                        data: $(".newsletter__popup--subscribe__form").serialize(),
                        success: function (response) {
                            modal.style.display = "none"
                        }
                    });
                } else {
                    $(".newsletter__popup--subscribe__input").css('background', 'red');
                }
            }
        });
    });
</script>