{% load static %}
<script src="{% static 'js/vendor/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js'%}"></script>
<script src="{% static 'js/vendor/modernizr-3.11.2.min.js'%}"></script>
<script src="{% static 'js/plugins/jquery.countdown.min.js'%}"></script>
<script src="{% static 'js/plugins/swiper-bundle.min.js'%}"></script>
<script src="{% static 'js/plugins/scrollUp.js'%}"></script>
<script src="{% static 'js/plugins/venobox.min.js'%}"></script>
<script src="{% static 'js/plugins/jquery-ui.min.js'%}"></script>
<script src="{% static 'js/plugins/mailchimp-ajax.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>