<div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
    <ul class="product-tab-nav justify-content-start align-items-center">
        <li class="nav-item"><a href="asd" class="nav-link" >Модель 1</a></li>
        <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#toprated">Модель 2</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#featured">Модель 3</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#toprated">Модель 4</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#featured">Колеса</button></li>
    </ul>
</div>