{% load static %}
<div class="blog-grid main-blog-page single-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 ">
                <div class="blog-posts">
                    <div class="single-blog-post blog-grid-post">
                        <div itemscope itemtype="https://electrorazbor.ru/" class="blog-post-content-inner mt-30px">
                            <h2 itemprop="name" class="blog-title">Electrorazbor- Самые доступные цены на запчасти и ремонт для электротранспорта  с 2017 года</h2>
                        </div>
                    </div>
                    <div class="another-post">
                        <div class="content-side">
                            <p itemprop="description" class="mb-30px">Главная цель нашей работы - удовлетворить все потребности клиента, как по части сервиса, так и по ассортименту товаров, который по мере развития электротранспорта стремительно увеличивается.</p>
                        </div>
                        <div class="image-side" style="display: flex; align-items: center; justify-content: center;">
                            <img itemprop="contentUrl" src="{% static 'samokat.jpeg' %}" style="height: 300px;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>