{% load static %}
<div class="blog-grid main-blog-page single-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 ">
                <div class="blog-posts">
                    <div class="single-blog-post blog-grid-post">
                        <div class="blog-post-content-inner mt-30px">
                            <h2 class="blog-title">Ваш проводник в ремонте электросамокатов</h2>
                        </div>
                    </div>
                    <div class="another-post">
                        <div class="content-side">
                            <p class="mb-30px">Lorem ipsum dolor sit amet, consec adipisic elit, sed do eius tempor incididu ut labore et dolore ma aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nil ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat velit esse cillum dolore</p>
                            <p>leu fugiat nulla pariatur. Excepteur sintocca
                                cupidatat non proident, sunt in culpa qui off deserunt mollit anim id est laborum. Sed utl perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        </div>
                        <div class="image-side" style="display: flex; align-items: center; justify-content: center;">
                            <img src="{% static 'samocat.webp' %}" style="height: 300px;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>