<div class="row">
    <div class="section-title text-center">
        <h2 class="title">Популярные товары</h2>
        <p>Эти товары пользуются наибольшим спросом среди наших клиентов</p>
    </div>
    <div class="col">
            <div class="tab-pane fade show active" id="newarrivals">
                <div class="row mb-n-30px">
                    {% for product in products %}
                    {% include "layout/productcard.html" %}
                    {% endfor %}
                </div>
            </div>
    </div>
</div>