{% load thumbnail %}
<div class="product-area related-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0">
                    <h2 class="title">Популярные товары</h2>
                    <p>Эти товары пользуются наибольшим спросом среди наших клиентов</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="new-product-slider swiper-container slider-nav-style-1">
                    <div class="swiper-wrapper">
                        {% for product in products %}
                        <div class="swiper-slide">
                            <div class="product" data-id="{{ product.id }}">
                                <div class="thumb">
                                    <a href="{{ product.get_absolute_url }}" class="image">
                                        <img src="{{ product.productimages.all.0.image|thumbnail_url:'card' }}" alt="{{ product.name }}" />
                                        {% if not product.productimages.all.1.image %}
                                        <img class="hover-image" src="{{ product.productimages.all.0.image|thumbnail_url:'card' }}" alt="{{ product.name }}3" />
                                        {% else %}
                                        <img class="hover-image" src="{{ product.productimages.all.1.image|thumbnail_url:'card' }}" alt="{{ product.name }}1" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                    <span class="price">
                                    <span class="new">{{ product.price }} ₽</span>
                                    </span>
                                </div>
                                <div class="actions">
                                    <button title="Add To Cart" class="action add-to-cart">
                                        <i class="pe-7s-shopbag"></i>
                                    </button>
                                    <a href="{{ product.get_absolute_url }}" class="nav-link active">
                                    <button class="action" style="width: auto; font-size: 16px;">ОТКРЫТЬ</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>