{% load static %}
{% include "layout/head.html" %}
<body>
    <div class="main-wrapper">
        {% include "layout/header.html" %}
        <div class="offcanvas-overlay"></div>
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    {% include "layout/contactsblock.html" %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        {% include "layout/menu.html" %}
                    </ul>
                </div>
            </div>
        </div>
        {% include "layout/cart_items.html" %}
        {% include "layout/footer.html" %}
    </div>
    {% include "layout/scripts.html" %}
</body>
</html>