{% load static %}
{% include "layout/head.html" %}
<body>
    <div class="main-wrapper">
        {% include "layout/header.html" %}
        <div class="offcanvas-overlay"></div>
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    {% include "layout/contactsblock.html" %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        {% include "layout/menu.html" %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="about-area pt-100px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper text-center">
                            <div class="about-contant">
                                <h1 class="title">
                                    <span>Запчасти и комплектующее для электросамокатов</span>
                                    Доставка
                                </h1>
                                <p>Забрать товар самовывозом можно в Москве, по адресу указанному в контактах (<span style="text-decoration-line: underline;">предварительно предупредить</span>), а так же осуществляем доставку по всей территории РФ.</p>
                                <p>Для получения информации о точной стоимости и сроках доставки наш менеджер свяжется с вами после оформления заказа.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="login-register-area pt-100px faq-area">
            <div class="container">
                <div class="row">
                    <div class="ml-auto mr-auto col-lg-10">
                        <div class="checkout-wrapper">
                            <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
                                <h2 class="title">Частые вопросы наших клиентов
                                </h2>
                                <p>В случае возникновения любых вопростов Вы всегда можете связаться с нами любым удобным способом из указанных на сайте</p>
                            </div>
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>1.</span> <a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="true">
                                            Я сделал заказ на сайте. Что дальше?</a></h3>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            Если Вы оформили заказ на нашем сайте, в ближайшее время с Вами свяжется наш менеджер по телефону, указанному
                                            Вами при оформлении заказа.<br>
                                            В случае, если наш менеджер не перезвонил Вам - возможно Вы неверно указали свой номер телефона.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>2.</span> <a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="false" class="collapsed">
                                            Могу ли я получить консультацию по товару?</a></h3>
                                    </div>
                                    <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            Вы всегда можете получить консультацию о интересующем Вас товаре.
                                            <br>
                                            Для этого достаточно связаться с нами по контактам, указанным на сайте,
                                             или зайти на страницу интересующего Вас товара, нажать "купить сейчас", оставив свой номер телефона.
                                             Наш менеджер обязательно Вам перезвонит и проконсультирует по интересующему товару.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>3 .</span> <a data-bs-toggle="collapse" href="#my-account-3">
                                            Как долго доставляется товар?
                                        </a></h3>
                                    </div>
                                    <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            Срок доставки зависит от времени заказа и расстояния пункта назначения от нашего склада.
                                            В пределах Москвы и области доставка осуществляется за 1-2 дня. Срок доставки в остальные регионы 
                                            уточняйте у менеджера.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>4 .</span> <a data-bs-toggle="collapse" href="#my-account-4">
                                            Сколько стоит доставка?
                                        </a></h3>
                                    </div>
                                    <div id="my-account-4" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">Стоимость доставки зависит от службы доставки и расстояния до пункта назначения. 
                                            Вы оплачиваете только их услуги доставки. Дополнительных комиссий за доставку мы не начисляем.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "layout/contacts_block.html" %}
        {% include "layout/footer.html" %}
    </div>
    {% include "layout/scripts.html" %}
</body>
</html>