{% load static %}
{% include "layout/head.html" %}
<body>
    <div class="main-wrapper">
        {% include "layout/header.html" %}
        <div class="offcanvas-overlay"></div>
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    {% include "layout/contactsblock.html" %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        {% include "layout/menu.html" %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="about-area pt-100px mb-30px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper text-center">
                            <div class="about-contant">
                                <h1 class="title">
                                    {% if page.span %}
                                    <span>{{ page.span }}</span>
                                    {% else %}
                                    <span>Запчасти и комплектующее для электросамокатов</span>
                                    {% endif %}
                                    {% if page.h1 %}
                                    {{ page.h1 }}
                                    {% else %}
                                    Доставка
                                    {% endif %}
                                </h1>
                                {% comment %}
                                <p>Забрать товар самовывозом можно в Москве, по адресу указанному в контактах (<span style="text-decoration-line: underline;">предварительно предупредить</span>), а так же осуществляем доставку по всей территории РФ.</p>
                                <p>Для получения информации о точной стоимости и сроках доставки наш менеджер свяжется с вами после оформления заказа.</p>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "layout/blocks.html" %}
        <div class="login-register-area pt-100px faq-area">
            <div class="container">
                <div class="row">
                    <div class="ml-auto mr-auto col-lg-12">
                        <div class="checkout-wrapper">
                            <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
                                <h2 class="title">Частые вопросы наших клиентов
                                </h2>
                                <p>В случае возникновения любых вопростов Вы всегда можете связаться с нами любым удобным способом из указанных на сайте</p>
                            </div>
                            <div id="faq" class="panel-group">
                                {% for question in questions %}
                                {% if forloop.first %}
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>{{forloop.counter}}.</span> <a data-bs-toggle="collapse" href="#my-account-{{forloop.counter}}" class="collapsed" aria-expanded="true">
                                            {{ question.question }}</a></h3>
                                    </div>
                                    <div id="my-account-{{forloop.counter}}" class="panel-collapse collapse show" data-bs-parent="#faq">
                                        <div class="panel-body">{{ question.answer|linebreaks }}</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>{{forloop.counter}}.</span> <a data-bs-toggle="collapse" href="#my-account-{{forloop.counter}}" aria-expanded="false" class="collapsed">
                                            {{ question.question }}</a></h3>
                                    </div>
                                    <div id="my-account-{{forloop.counter}}" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">{{ question.answer|linebreaks }}</div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "layout/contacts_block.html" %}
        {% include "layout/footer.html" %}
    </div>
    {% include "layout/scripts.html" %}
</body>
</html>