{% load static %}
{% include "layout/head.html" %}

<body>
    <div class="main-wrapper">
        {% include "layout/header.html" %}
        <div class="offcanvas-overlay"></div>
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    {% include "layout/contactsblock.html" %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        {% include "layout/menu.html" %}
                    </ul>
                </div>
            </div>
        </div>
        {% include "layout/main_slider.html" %}
        <div class="product-area pt-100px">
            <div class="container">
                {% include "layout/firms.html" %}
                {% include "layout/tabs_models.html" %}
                {% include "layout/tophome.html" %}
            </div>
        </div>
        {% include "layout/blocks.html" %}
        {% include "layout/contacts_block.html" %}

        <div id="partners" class="blog-grid main-blog-page single-blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="blog-posts">
                            <div>
                                <div>
                                    <p class="mb-60px">Для ознакомления с оптовым прайсом запчастей, аксессуаров,
                                        комплектующего и расходных материалов для СИМ нажмите кнопку ниже.</p>
                                    <a class="custombutton" href="/optovii-price/">
                                        <img src="{% static '/price.png' %}" style="height: 100px;" alt="Xiaomi">
                                        Ознакомиться с прайсом
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "layout/footer.html" %}
    </div>
    {% include "layout/scripts.html" %}
</body>

</html>