{% load static %}
{% include "layout/head.html" %}
<body>
    <div class="main-wrapper">
        {% include "layout/header.html" %}
        <div class="offcanvas-overlay"></div>
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    {% include "layout/contactsblock.html" %}
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        {% include "layout/menu.html" %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="about-area pt-100px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper text-center">
                            <div class="about-contant">
                                <h1 class="title">
                                    {% if page.span %}
                                    <span>{{ page.span }}</span>
                                    {% else %}
                                    <span>Запчасти и комплектующее для электросамокатов</span>
                                    {% endif %}
                                    {% if page.h1 %}
                                    {{ page.h1 }}
                                    {% else %}
                                    Возврат и обмен
                                    {% endif %}
                                </h1>
                                {% comment %}
                                <p>Мы ориентированы на удовлетворение потребностей клиентов и придерживаемся принципа клиентоориентированности.</p>
                                <p>В случае возникновения вопросов, связанных с задержкой доставки, несоответствующим качеством, характеристики или параметров товара, просьба незамедлительно обратиться по контактам, указанным на сайте.</p>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "layout/blocks.html" %}
        {% include "layout/contacts_block.html" %}
        {% include "layout/footer.html" %}
    </div>
    {% include "layout/scripts.html" %}
</body>
</html>