{% if page.has_other_pages %}
<div class="pro-pagination-style text-center text-lg-end" data-aos="fade-up" data-aos-delay="200">
    <div class="pages">
        <ul>
            {% if page.has_previous %}
            <li class="li"><a class="page-link" href="?page=1#products"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% if page.number|add:'-4' > 0 %}
            <li class="li"><a class="page-link" href="#">...</a></li>
            {% endif %}
            {% if page.number|add:'-3' > 0 %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'-3' }}#products">{{ page.number|add:'-3' }}</a></li>
            {% endif %}
            {% if page.number|add:'-2' > 0 %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'-2' }}#products">{{ page.number|add:'-2' }}</a></li>
            {% endif %}
            {% if page.number|add:'-1' > 0 %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'-1' }}#products">{{ page.number|add:'-1' }}</a></li>
            {% endif %}
            <li class="li"><a class="page-link active" href="#">{{ page.number }}</a></li>
            {% if page.number|add:'1' <= page.paginator.num_pages %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'1' }}#products">{{ page.number|add:'1' }}</a></li>
            {% endif %}
            {% if page.number|add:'2' <= page.paginator.num_pages %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'2' }}#products">{{ page.number|add:'2' }}</a></li>
            {% endif %}
            {% if page.number|add:'3' <= page.paginator.num_pages %}
            <li class="li"><a class="page-link" href="?page={{ page.number|add:'3' }}#products">{{ page.number|add:'3' }}</a></li>
            {% endif %}
            {% if page.number|add:'4' <= page.paginator.num_pages %}
            <li class="li"><a class="page-link" href="#">...</a></li>
            {% endif %}
            {% if page.has_next %}
            <li class="li"><a class="page-link" href="?page={{ page.paginator.num_pages }}#products"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}